In [2]:
#load required library
import pandas as pd

In [3]:
#load reviews data into a variable called data
data=pd.read_csv("reviews.csv")

In [5]:
# view top three observations of the dataset
data.head(3)

,ReviewId,RecipeId,AuthorId,AuthorName,Rating,Review,DateSubmitted,DateModified
0,2,992,2008,gayg msft,5,better than any you can get at a restaurant!,2000-01-25T21:44:00Z,2000-01-25T21:44:00Z
1,7,4384,1634,Bill Hilbrich,4,"I cut back on the mayo, and made up the differ...",2001-10-17T16:49:59Z,2001-10-17T16:49:59Z
2,9,4523,2046,Gay Gilmore ckpt,2,i think i did something wrong because i could ...,2000-02-25T09:00:00Z,2000-02-25T09:00:00Z

In [6]:
# load reviews data into a variable called data_recipes
data_recipes=pd.read_csv("recipes.csv")

In [7]:
# view top three observations of the column named RecipeIngredientParts
data_recipes['RecipeIngredientParts'].head(3)

0    c("blueberries", "granulated sugar", "vanilla ...
1    c("saffron", "milk", "hot green chili peppers"...
2    c("sugar", "lemons, rind of", "lemon, zest of"...
Name: RecipeIngredientParts, dtype: object

In [8]:
# splitting each ingredient which is a string, with comma, then counting the number of strings in each list
i = []
for value in data_recipes['RecipeIngredientParts']:
    words = value.split(',')
    i.append(len(words))
    
print(words)

['c("hard-boiled eggs"', ' "breakfast sausage"', ' "panko breadcrumbs"', ' "Worcestershire sauce"', ' "flour"', ' "panko breadcrumbs"', ' "water")']

In [10]:
# loading the count of strings in each list, creating a new column named IngredientsCount 
data_recipes['IngredientsCount'] = i

In [11]:
# view top three observations
data_recipes.head(3)

,RecipeId,Name,AuthorId,AuthorName,CookTime,PrepTime,TotalTime,DatePublished,Description,Images,...,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield,RecipeInstructions,IngredientsCount
0,38,Low-Fat Berry Blue Frozen Dessert,1533,Dancer,PT24H,PT45M,PT24H45M,1999-08-09T21:46:00Z,Make and share this Low-Fat Berry Blue Frozen ...,"c(""https://img.sndimg.com/food/image/upload/w_...",...,8.0,29.8,37.1,3.6,30.2,3.2,4.0,NaN,"c(""Toss 2 cups berries with sugar."", ""Let stan...",4
1,39,Biryani,1567,elly9812,PT25M,PT4H,PT4H25M,1999-08-29T13:12:00Z,Make and share this Biryani recipe from Food.com.,"c(""https://img.sndimg.com/food/image/upload/w_...",...,372.8,368.4,84.4,9.0,20.4,63.4,6.0,NaN,"c(""Soak saffron in warm milk for 5 minutes and...",25
2,40,Best Lemonade,1566,Stephen Little,PT5M,PT30M,PT35M,1999-09-05T19:52:00Z,This is from one of my first Good House Keepi...,"c(""https://img.sndimg.com/food/image/upload/w_...",...,0.0,1.8,81.5,0.4,77.2,0.3,4.0,NaN,"c(""Into a 1 quart Jar with tight fitting lid, ...",7

In [12]:
data_recipes.to_csv('Ingredient.csv')